# DATABASE_URL=postgresql://neondb_owner:npg_qw0oZjJQ1kvs@ep-old-resonance-abbb9tld-pooler.eu-west-2.aws.neon.tech/gstock_db?sslmode=verify-full

DATABASE_URL=postgresql://neondb_owner:npg_8oPwFgLQyNZ3@ep-old-resonance-abbb9tld-pooler.eu-west-2.aws.neon.tech/gstock_db?sslmode=require&channel_binding=require
NODE_ENV=production

SUPERADMIN_SECRET=Kouassi@2000
BCRYPT_ROUNDS=20

