# Configuration pour Neon PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_8oPwFgLQyNZ3@ep-old-resonance-abbb9tld-pooler.eu-west-2.aws.neon.tech/gstock_db?sslmode=require&channel_binding=require

NODE_ENV=development
JWT_SECRET=change_this_secret_in_production
PORT=5000
CORS_ORIGIN=http://localhost:3000

SUPERADMIN_SECRET=Kouassi@2000
BCRYPT_ROUNDS=12

