# Node
node_modules/
*.log
npm-debug.log*

# Environnement
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
.next/

# Cache
.eslintcache
.parcel-cache
.cache/